@import url(https://fonts.googleapis.com/css2?family=Syne:wght@400;

500;600;700&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Syne:wght@400;600&display=swap);
@charset "UTF-8";
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #000;
  line-height: 1;
  font-family: "Syne";
  font-size: 0.875rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Syne";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  background-color: white;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
}

.wrapper {
  background-color: white;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

[class*=__container] {
  max-width: 100rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

body,
body a,
body button {
  cursor: none !important;
}

body #magicMouseCursor {
  position: fixed;
  width: 35px;
  height: 35px;
  border: 1px solid #fff;
  border-radius: 50%;
  z-index: 9999;
  left: 0;
  top: 0;
  -webkit-transition: width 0.3s, height 0.3s, -webkit-transform 0.07s;
  transition: width 0.3s, height 0.3s, -webkit-transform 0.07s;
  -o-transition: transform 0.07s, width 0.3s, height 0.3s;
  transition: transform 0.07s, width 0.3s, height 0.3s;
  transition: transform 0.07s, width 0.3s, height 0.3s, -webkit-transform 0.07s;
  pointer-events: none;
}

body #magicMouseCursor.cursor-square {
  border-radius: 50px;
}

body #magicPointer {
  height: 6px;
  width: 6px;
  top: 0;
  left: 0;
  z-index: 9999;
  position: fixed;
  background: black;
  border-radius: 50%;
  pointer-events: none;
  -webkit-transition: background 0.2s, width 0.2s, height 0.2s, -webkit-box-shadow 0.2s;
  transition: background 0.2s, width 0.2s, height 0.2s, -webkit-box-shadow 0.2s;
  -o-transition: background 0.2s, width 0.2s, height 0.2s, box-shadow 0.2s;
  transition: background 0.2s, width 0.2s, height 0.2s, box-shadow 0.2s;
  transition: background 0.2s, width 0.2s, height 0.2s, box-shadow 0.2s, -webkit-box-shadow 0.2s;
}

body #magicPointer.is-hover {
  background: red;
}

body #magicPointer.pointer-blur {
  height: 35px;
  width: 35px;
  background: none;
  border: 1px solid #fff;
}

body #magicPointer.pointer-overlay {
  height: 35px;
  width: 35px;
  background-color: white;
  mix-blend-mode: difference;
}

body .magic-hover {
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

body .magic-hover:hover {
  cursor: none;
}

body::after {
  content: "";
  background-color: rgba(174, 166, 224, 0.5);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: opacity 0.5s ease 0s;
  -o-transition: opacity 0.5s ease 0s;
  transition: opacity 0.5s ease 0s;
  pointer-events: none;
  z-index: 999;
}

.popup-show body::after {
  opacity: 1;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 30px 10px;
  -webkit-transition: visibility 0.8s ease 0s;
  -o-transition: visibility 0.8s ease 0s;
  transition: visibility 0.8s ease 0s;
  visibility: hidden;
  pointer-events: none;
}

.popup_show {
  z-index: 1000;
  visibility: visible;
  overflow: auto;
  pointer-events: auto;
}

.popup_show .popup__content {
  visibility: visible;
  -webkit-transform: translate(0px, 0);
      -ms-transform: translate(0px, 0);
          transform: translate(0px, 0);
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  opacity: 1;
}

.popup__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  width: 100%;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  align-items: center;
}

.popup__content {
  visibility: hidden;
  opacity: 0;
  -webkit-transform: translate(0px, 30px);
      -ms-transform: translate(0px, 30px);
          transform: translate(0px, 30px);
  -webkit-transition: -webkit-transform 0.5s ease 0s;
  transition: -webkit-transform 0.5s ease 0s;
  -o-transition: transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s, -webkit-transform 0.5s ease 0s;
  -webkit-transition: all 0.25s ease 0s;
  -o-transition: all 0.25s ease 0s;
  transition: all 0.25s ease 0s;
  background-color: transparent;
  color: black;
  padding: 15px;
  width: 100%;
  max-width: 500px;
  border-radius: 5px;
}

.lock .popup__content {
  visibility: visible;
}

.popup {
  font-family: "Syne", sans-serif;
}

.popup__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  margin-bottom: 15px;
}

.popup__header i {
  font-size: 20px;
  padding: 15px;
}

.linktree__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
}

.linktree__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 15px;
  background-color: rgba(174, 166, 224, 0.7);
  -webkit-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
  border: 1px solid rgba(174, 166, 224, 0.7);
  border-radius: 5px;
}

.linktree__item i {
  -webkit-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
  font-size: 20px;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.linktree__item:hover i {
  -webkit-transform: rotate(0);
      -ms-transform: rotate(0);
          transform: rotate(0);
}

.linktree__item--purple {
  background-color: black;
  color: white;
  border-color: black;
}

.linktree__item--purple i {
  color: white;
}

.linktree__text h2 {
  font-size: 18px;
  font-weight: 600;
}

.spollers {
  display: -ms-grid;
  display: grid;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  min-height: 240px;
}

.spollers__item {
  font-size: 1.25rem;
}

.spollers__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 15px 0;
  width: 100%;
  cursor: default;
  text-align: left;
  border-radius: 0.3125rem;
  position: relative;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
}

.spollers__title img {
  -webkit-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
}

._spoller-active img {
  -webkit-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.spollers__body {
  padding: 15px 0;
  color: #858585;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
}

.questions {
  padding: 100px 0;
}

.questions__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.questions__title {
  text-transform: uppercase;
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
}

.questions__right {
  max-width: 1000px;
  width: 100%;
}

.spoller__divider {
  height: 1px;
  width: 0%;
  background-color: black;
}

.spoller__divider--mobile {
  opacity: 0;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.preloader {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: transparent;
  background-color: white;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  min-height: 100vh;
  min-width: 100%;
  z-index: 9999;
}

.disppear {
  -webkit-animation: vanish 2.5s forwards;
          animation: vanish 2.5s forwards;
}

@-webkit-keyframes vanish {
  100% {
    opacity: 0;
    visibility: hidden;
    display: none;
    z-index: -1;
  }

  70% {
    opacity: 1;
    visibility: visible;
  }
}

@keyframes vanish {
  100% {
    opacity: 0;
    visibility: hidden;
    display: none;
    z-index: -1;
  }

  70% {
    opacity: 1;
    visibility: visible;
  }
}

.preloader__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.preloader__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 3px;
}

.preloader__overlay {
  overflow: hidden;
}

.preloader__img {
  max-height: 35px;
  -webkit-transform: translatey(101%);
      -ms-transform: translatey(101%);
          transform: translatey(101%);
}

.back2top {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  right: 15px;
  bottom: 15px;
  opacity: 100%;
  visibility: visible;
  font-size: 14px;
  color: #fff;
  background-color: #aea6e0;
  cursor: pointer;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  -webkit-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
  z-index: 999;
}

.back2top i {
  color: black;
}

.back2top:hover {
  background: black;
}

.back2top:hover i {
  color: white;
}

.back2top--hidden {
  opacity: 0;
  visibility: hidden;
}

/* Firefox */

* {
  scrollbar-width: auto;
  scrollbar-color: #f3f3f3 white;
}

/* Smooth Scrolling*/

html {
  scroll-behavior: smooth;
}

/* Width */

::-webkit-scrollbar {
  width: 10px;
}

/* Track */

::-webkit-scrollbar-track {
  background: white;
}

/* Handle/Thunmb */

::-webkit-scrollbar-thumb {
  background: #f3f3f3;
  border: 1px solid #bebebe;
  border-radius: 5px;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
  background: #dcdcdc;
}

/* Remove Highlight on Mobile */

* {
  -webkit-tap-highlight-color: transparent;
}

input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* Custom Text Selection */

::-moz-selection {
  color: black;
  background: #ff731d;
}

::selection {
  color: black;
  background: #ff731d;
}

/* Code for Firefox */

::-moz-selection {
  color: black;
  background: #ff731d;
}

/*
.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: rem(30);
		height: rem(18);
		cursor: pointer;
		z-index: 5;
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(2);
			background-color: #000;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - rem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
		}
	}
}
*/

.link {
  position: relative;
  white-space: nowrap;
}

.link::before,
.link::after {
  position: absolute;
  width: 100%;
  height: 1px;
  background: black;
  top: 120%;
  left: 0;
  pointer-events: none;
}

.link::before {
  content: "";
  /* show by default */
}

.link--metis::before {
  -webkit-transform-origin: 100% 50%;
      -ms-transform-origin: 100% 50%;
          transform-origin: 100% 50%;
  -webkit-transform: scale3d(0, 1, 1);
          transform: scale3d(0, 1, 1);
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  -o-transition: transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.link--metis:hover::before {
  -webkit-transform-origin: 0% 50%;
      -ms-transform-origin: 0% 50%;
          transform-origin: 0% 50%;
  -webkit-transform: scale3d(1, 1, 1);
          transform: scale3d(1, 1, 1);
}

.header {
  position: sticky;
  top: 0;
  left: 0;
  min-width: 100%;
  z-index: 1000;
  -webkit-transition: all 0.25s;
  -o-transition: all 0.25s;
  transition: all 0.25s;
  background-color: rgba(255, 255, 255, 0.5);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  background-blend-mode: overlay;
}

.header__inner {
  padding: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__right {
  max-width: 1000px;
  width: 100%;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav__links {
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

.nav__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav__contact {
  display: inline-block;
  background-color: black;
  color: white;
  padding: 5.5px 15px;
  border-radius: 5px;
}

.footer {
  margin-top: 100px;
}

.footer__divider {
  height: 1px;
  width: 0;
  background-color: black;
}

.footer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 50px 0;
}

.footer__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5px;
}

.footer__logo {
  margin-bottom: 10px;
}

.footer__details {
  color: #858585;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
}

.footer__details span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
}

.footer__right {
  width: 100%;
  max-width: 1000px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

.footer__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5px;
}

.footer__title {
  margin-bottom: 10px;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
}

.footer__item {
  width: 100%;
  max-width: 395px;
}

.footer__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.footer__contact {
  min-height: 150px;
  min-width: 150px;
  border: 1px solid black;
  border-radius: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
}

.footer__contact:hover {
  color: white;
  background-color: black;
}

.footer__subtitle {
  color: #858585;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-decoration-line: underline !important;
  -webkit-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
}

.footer__subtitle:hover {
  color: black;
}

.page {
  min-height: auto;
}

.transition-fade {
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  opacity: 1;
}

html.is-animating .transition-fade {
  opacity: 0;
}

.divider {
  margin: 150px 0;
  height: 1px;
  width: 0%;
  background-color: black;
}

.hero {
  padding: 0 15px;
}

.hero__container {
  padding: 135px 0 0;
}

.hero__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 15px;
     -moz-column-gap: 15px;
          column-gap: 15px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-size: 47px;
  font-weight: 700;
  text-transform: uppercase;
}

.hero__title--word {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 55px;
}

.hero__title--overlay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.hero__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 75px 0 150px;
}

.hero__info--second {
  margin: 125px 0 0;
}

.hero__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 50px;
  max-width: 1000px;
  width: 100%;
}

.hero__subtitle {
  color: #858585;
  font-weight: 500;
  font-size: 14px;
  line-height: 16.8px;
}

.hero__subtitle--bottom {
  color: #858585;
  font-weight: 500;
  font-size: 14px;
  line-height: 16.8px;
}

.hero__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
  text-decoration: underline;
  overflow: hidden;
}

.hero__overlay {
  border-radius: 5px;
  overflow: hidden;
}

.hero__img {
  min-width: 100%;
  max-height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  border-radius: 5px;
}

.overlay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.smalltitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
}

.smalltitle__overlay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.hover-reveal {
  position: fixed;
  width: 450px;
  aspect-ratio: 16/9;
  top: 0;
  left: 0;
  pointer-events: none;
  opacity: 0;
  z-index: 1500 !important;
}

.hover-reveal__inner,
.hover-reveal__img {
  width: 100%;
  height: 100%;
  position: relative;
}

.hover-reveal__deco {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #181314;
}

.hover-reveal__img {
  background-size: cover;
  background-position: 50% 50%;
  mix-blend-mode: difference;
  border-radius: 5px;
}

.projects__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.projects__left {
  position: sticky;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  top: 80px;
  left: 0;
}

.projects__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  max-width: 1000px;
}

.projects__smalltitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.projects__links {
  margin-top: 50px;
}

.projects__overlay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.projects__gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  text-align: right;
  text-decoration: underline !important;
}

.projects__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 100px;
  padding: 10px 0;
  overflow: hidden;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #858585;
}

.projects__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 53%;
}

.projects__divider {
  height: 1px;
  width: 0%;
  background-color: black;
}

.project {
  padding: 15px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.project__name {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
}

.project__name--overlay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.project__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 53%;
}

.project__area {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

.project__year {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

.projects__stats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 125px;
  gap: 150px;
}

.projects__stat {
  max-width: 150px;
}

.projects__stat-number {
  font-style: normal;
  font-weight: 700;
  font-size: 90px;
  line-height: 108px;
}

.projects__stat-details {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #858585;
}

.gallery {
  margin-top: 275px;
}

.gallery__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 100%;
  gap: 15px;
}

.gallery__left .overlay {
  border-radius: 5px;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}

.gallery__left img {
  width: 100%;
  max-width: 600px;
  border-radius: 5px;
}

.gallery__right .overlay {
  border-radius: 5px;
}

.gallery__right img {
  width: 100%;
  max-width: 1000px;
  min-width: 1000px;
  border-radius: 5px;
}

.project__name--overlay span {
  -webkit-transform: translateY(100%);
      -ms-transform: translateY(100%);
          transform: translateY(100%);
}

.project__area span {
  -webkit-transform: translateY(100%);
      -ms-transform: translateY(100%);
          transform: translateY(100%);
}

.project__year span {
  -webkit-transform: translateY(100%);
      -ms-transform: translateY(100%);
          transform: translateY(100%);
}

.hero__title--word {
  -webkit-transform: translateY(100%);
      -ms-transform: translateY(100%);
          transform: translateY(100%);
}

.hero__subtitle--word {
  -webkit-transform: translateY(100%);
      -ms-transform: translateY(100%);
          transform: translateY(100%);
}

.loading-screen {
  position: relative;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  background-color: #4bedc2;
  width: 0%;
  height: 100%;
}

.load-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  z-index: 10000;
  pointer-events: none;
}

.partners {
  margin: 0 0 100px 0;
}

.partners__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.partners__right {
  width: 100%;
  max-width: 1000px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.partners__img {
  -webkit-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
  opacity: 48%;
}

.partners__img:hover {
  opacity: 100%;
}

.partners-mobile {
  display: none;
}

.swiper__partners {
  min-width: 100%;
  height: 125px;
}

.swiper__img {
  opacity: 49%;
  max-width: 100%;
  -webkit-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
}

.swiper__img:hover {
  opacity: 100%;
}

.swiper-slide--main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.about {
  margin: 150px 0 100px 0;
}

.about__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
}

.about__subtitle {
  color: #858585;
  font-weight: 500;
  font-size: 14px;
  line-height: 16.8px;
}

.about__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  max-width: 1000px;
  gap: 50px;
}

.swiper--about {
  border-radius: 5px;
  max-width: 1600px;
  overflow: hidden;
}

.swiper-wrapper img {
  max-width: 100%;
  border-radius: 5px;
}

@media only screen and (max-width: 1300px) {
  .questions__right {
    max-width: none;
  }

  .hero__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .hero__smalltitle--about {
    font-size: 14px;
    color: #858585;
    line-height: 17px;
    margin-bottom: 15px;
  }

  .hero__smalltitle--about span {
    font-size: 14px;
  }

  .smalltitle {
    font-size: 18px;
    -webkit-column-gap: 3px;
       -moz-column-gap: 3px;
            column-gap: 3px;
    line-height: 22px;
  }

  .gallery__left {
    display: none;
  }

  .gallery__right {
    width: 100%;
    max-width: 100%;
  }

  .gallery__right .overlay {
    min-width: 100%;
  }

  .gallery__right .overlay img {
    width: 100%;
    min-width: 100%;
    max-height: 600px;
    aspect-ratio: 16/9;
  }

  .partners__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .partners__right {
    max-width: 100%;
  }

  .projects__stats {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    row-gap: 50px;
  }

  .projects__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 15px;
  }

  .projects__left {
    position: static;
  }

  .projects__stats {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .projects__gallery {
    -ms-flex-item-align: start;
        -ms-grid-row-align: start;
        align-self: start;
  }

  .projects__header {
    margin-top: 30px;
  }

  .projects__right {
    max-width: 100%;
  }

  .projects__smalltitle {
    font-size: 14px;
    color: #858585;
  }
}

@media only screen and (max-width: 1200px) {
  .nav {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
    gap: 50px;
  }
}

@media only screen and (max-width: 998px) {
  .partners-mobile {
    display: none;
  }
}

@media only screen and (max-width: 992px) {
  .partners {
    display: none;
  }

  .partners-mobile {
    display: unset;
  }
}

@media only screen and (max-width: 768px) {
  .spollers {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    min-height: auto;
    -webkit-column-gap: 0px;
       -moz-column-gap: 0px;
            column-gap: 0px;
  }

  .spoller__divider--mobile {
    opacity: 100%;
  }

  .footer__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 90px;
  }

  .footer__right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 100px;
  }

  .footer__contact {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    min-width: 200px;
    min-height: 200px;
  }

  .hero__title {
    min-height: none;
    font-size: 24px;
    line-height: 29px;
    -webkit-column-gap: 6px;
       -moz-column-gap: 6px;
            column-gap: 6px;
  }

  .hero__title--word {
    min-height: auto;
  }

  .hero__info {
    padding: 50px 0 100px;
  }

  .hero__right {
    gap: 30px;
  }

  .divider {
    margin: 50px 0 100px;
  }

  .gallery {
    margin-top: 100px;
  }

  .projects__stats {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    font-size: 50px;
    line-height: 60px;
    gap: 0px;
    -webkit-column-gap: 30px;
       -moz-column-gap: 30px;
            column-gap: 30px;
    row-gap: 50px;
  }
}

@media only screen and (max-width: 600px) {
  .project__info {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
  }

  .projects__info {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
  }

  .projects__info p:nth-child(1) {
    display: none;
  }

  .project__area {
    display: none;
  }

  .projects__stat-number {
    font-size: 60px;
    line-height: 80px;
  }
}

@media only screen and (max-width: 500px) {
  .nav__links {
    display: none;
  }
}